@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


:root {
    --brand-gradient: linear-gradient(90deg, #f97316, #ec4899, #8b5cf6);
}

body { 
  font-family: 'Inter', sans-serif;
  color: 0f172a;
}

.bg-brand{ 
  background-image: var(--brand-gradient);
}

.text-brand{
  background-image: var(--brand-gradient);
  -webkit-backgorund-clip: text;
  background-clip: text;
  color: transparent
}

